:root {
  --grass: #9bcc4f;
  --fire: #fd7d24;
  --water: #4593c4;
  --bug: rgb(115, 159, 64);
  --ground: linear-gradient(to bottom,#f6de3e 0%, #f6de3e 50%, #aa9842 50%, #aa9842 100%);
  --normal: #a4acaf;
  --poison: #b97fc9;
  --fighting: #d56722;
  --electric: #eed535;
  --fairy: #fdb9ea;
  --psychic: #f466ba;
  --ghost: #7b62a3;
  --rock: #a38c22;
  --dragon: linear-gradient(to bottom, #53a4cf 0%,  #53a4cf 50%, #f16f57 50%,  #f16f57 100%);
  --ice: #52c4e8;
  --dark: #717070;
  --steel: #9eb8b9;
  --flying: linear-gradient(to bottom, #3dc6ef 0%, #3dc6ef 50%, #bdb9b8 50%, #bdb9b8 100%);
  --alignText: center;
  --borderRadius: 5px;
  --border: 2px solid #a4a4a4;
  --width: 38%;
  --maxWidth: 110px;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* background-color: #e9e9e9; */
  background: linear-gradient(to bottom, #cc0b28 0%, #cc0b2886 40%, #000000 40%, #000000 60%,#ffffff 60%,#ffffff 100%);
}

a {
  color: inherit;
  text-decoration: none;
}

#grass {
  text-align: var(--alignText);
  border: var(--border);
  width: var(--width);
  max-width: var(--maxWidth);
  border-radius: var(--borderRadius);
  background: var(--grass);
}

#fire {
  text-align: var(--alignText);
  border: var(--border);
  width: var(--width);
  max-width: var(--maxWidth);
  border-radius: var(--borderRadius);
  background: var(--fire);
  color: #fff;
}

#water {
  text-align: var(--alignText);
  border: var(--border);
  width: var(--width);
  max-width: var(--maxWidth);
  border-radius: var(--borderRadius);
  background: var(--water);
  color: #fff;
}

#bug {
  text-align: var(--alignText);
  border: var(--border);
  width: var(--width);
  max-width: var(--maxWidth);
  border-radius: var(--borderRadius);
  background: var(--bug);
  color: #fff;
}

#ground {
  text-align: var(--alignText);
  border: var(--border);
  width: var(--width);
  max-width: var(--maxWidth);
  border-radius: var(--borderRadius);
  background: var(--ground);
}
#normal {
  text-align: var(--alignText);
  border: var(--border);
  width: var(--width);
  max-width: var(--maxWidth);
  border-radius: var(--borderRadius);
  background: var(--normal);
}
#poison {
  text-align: var(--alignText);
  border: var(--border);
  width: var(--width);
  max-width: var(--maxWidth);
  border-radius: var(--borderRadius);
  background: var(--poison);
  color: #fff;
}
#fighting {
  text-align: var(--alignText);
  border: var(--border);
  width: var(--width);
  max-width: var(--maxWidth);
  border-radius: var(--borderRadius);
  background: var(--fighting);
  color: #fff;
}
#electric {
  text-align: var(--alignText);
  border: var(--border);
  width: var(--width);
  max-width: var(--maxWidth);
  border-radius: var(--borderRadius);
  background: var(--electric);
}
#fairy {
  text-align: var(--alignText);
  border: var(--border);
  width: var(--width);
  max-width: var(--maxWidth);
  border-radius: var(--borderRadius);
  background: var(--fairy);
}
#psychic {
  text-align: var(--alignText);
  border: var(--border);
  width: var(--width);
  max-width: var(--maxWidth);
  border-radius: var(--borderRadius);
  background: var(--psychic);
  color: #fff;
}
#ghost {
  text-align: var(--alignText);
  border: var(--border);
  width: var(--width);
  max-width: var(--maxWidth);
  border-radius: var(--borderRadius);
  background: var(--ghost);
}
#rock {
  text-align: var(--alignText);
  border: var(--border);
  width: var(--width);
  max-width: var(--maxWidth);
  border-radius: var(--borderRadius);
  background: var(--rock);
  color: #fff;
}
#dragon {
  text-align: var(--alignText);
  border: var(--border);
  width: var(--width);
  max-width: var(--maxWidth);
  border-radius: var(--borderRadius);
  background: var(--dragon);
}
#ice {
  text-align: var(--alignText);
  border: var(--border);
  width: var(--width);
  max-width: var(--maxWidth);
  border-radius: var(--borderRadius);
  background: var(--ice);
}
#dark {
  text-align: var(--alignText);
  border: var(--border);
  width: var(--width);
  max-width: var(--maxWidth);
  border-radius: var(--borderRadius);
  background: var(--dark);
}
#steel {
  text-align: var(--alignText);
  border: var(--border);
  width: var(--width);
  max-width: var(--maxWidth);
  border-radius: var(--borderRadius);
  background: var(--steel);
}
#flying {
  text-align: var(--alignText);
  border: var(--border);
  width: var(--width);
  max-width: var(--maxWidth);
  border-radius: var(--borderRadius);
  background: var(--flying);
}